{% extends "template.html" %}
{% block title %} Liste de tous les jeux {% endblock %}

{% block container %}

<div class="tp" id="tp">
    <div id="length">{{ jeux | length }}</div>
    {% for nomJeu, idJeu, prix, image, uScore, date, achievements, nomDev, nomEditeur, idPlat, nomPlat, description in jeux %}
    <div class="ihm__wrapper">
        <div class="ihm__card">
          <div class="ihm_container">
            <img src="{{ image }}" width="370px" class="ihm__image">
            <div class="ihm_text">
                <div class="ihm_main">
                    <h2>{{ nomJeu }}</h2>
                </div>
                <div class="ihm_rest">
                    <h4>
                    {% if prix == 0 %}
                        {{ 'Gratuit' }}
                    {% else %}
                    {{ '{:.2f}$'.format(prix / 100) }}
                    {% endif %}
                    </h4>
                    <h4>{{ nomDev }}</h4>
                    <h4>{{ nomPlat }}</h4>
                </div>
              <p>Rating : {{ uScore }}</p>
              <p>Launch Date : {{ date }}</p>
              <p>Number of achievements : {{ achievements }}</p>
            </div>
          </div>
          <div id="ihm_desc">
            <p>
                {{ description | safe}}
            </p>
        </div>
  
        </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
