{% extends "template.html" %}
{% block title %} insert {% endblock %}

{% block container %}
<div class="tp">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <form action="/insertion" method="post" class="iform" id="iform">
        
        <label for="nomJeu">Titre:</label>
        <input type="text" id="nomJeu" name="nomJeu"><br><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description"><br><br>

        <label for="prix">Prix (en cent):</label>
        <input type="number" id="prix" name="prix"><br><br>

        <label for="uScore">Score (/100):</label>
        <input type="number" id="uScore" name="uScore"><br><br>

        <label for="date">Date de sortie:</label>
        <input type="date" id="date" name="date"><br><br>

        <label for="image">Lien vers l'image:</label>
        <input type="text" id="image" name="image"><br><br>

        <label for="achievements">Nombre de succès:</label>
        <input type="number" id="achievements" name="achievements"><br><br>

        <label for="nomDev">Nom du développeur:</label>
        <input type="text" id="nomDev" name="nomDev"><br><br>

        <label for="nomEditeur">Nom de l'éditeur:</label>
        <input type="text" id="nomEditeur" name="nomEditeur"><br><br>

        <fieldset>
            <legend>Platforme(s):</legend>
            <input type="checkbox" id="win" name="win">
            <label for="win">Windows</label>
            <input type="checkbox" id="mac" name="mac">
            <label for="mac">Mac</label>
            <input type="checkbox" id="lnx" name="lnx">
            <label for="lnx">Linux</label><br><br>
        </fieldset>

    
        <input type="button" value="Submit" onclick="validerForm()">
    </form>
</div>
{% endblock %}
