{% extends "template.html" %}
{% block title %} Create an account {% endblock %}

{% block container %}
<div class="tp">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <form action="/insert" method="post" class="iform" id="iform">
        
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

<!--         # <label for="repass">Re-enter Password:</label>
        # <input type="number" id="repass" name="repass"><br><br> -->

    
        <input type="button" value="Submit" onclick="validerformcr(event)">
    </form>
</div>
{% endblock %}
