{% extends "template.html" %}
{% block title %} Accounts {% endblock %}

{% block container %}
<div class="tp" id="tp">

<h1>Accounts</h1>
{% if uid%}
<f id="me">{{uid]}}</f>
{%endif%}
<table>
    <tr><th><f>id</f></th><th><b>username</b></th><th><b>name</b></th><th>Friend?</th></tr>
    {% for id, username, name, password in accounts %}
        <tr><td><f id="uid">{{id}}</f></td><td>{{ username }}</td><td>{{ name }}</td><td><input id="jrb" type="button" method='POST' value=Friend onclick="window.friend(event, document.getElementById('me'),'{{ id }}')"></td></tr>
    {% endfor %}
</table>
</div>

{% endblock %}