{% extends "template.html" %}
{% block title %} Create an account {% endblock %}

{% block container %}
<div class="tp">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <form action="/login" method="post" class="iformlog" id="iformlog">
    

        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br><br>

    
        <input type="button" value="Submit" onclick="validerformlog(event)">
    </form>
    No Account? <a href="/insert"><u>Create One.</u></a>
   <a href="/logout"><u>Logout.</u></a>
</div>
{% endblock %}
