<!DOCTYPE html>
<html lang='fr'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="{{ url_for('static', filename='app.js') }}"></script>
  <script defer src="{{ url_for('static', filename='wordle.js') }}"></script>
  <script defer src="{{ url_for('static', filename='journal.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  <link href='https://fonts.googleapis.com/css?family=Space Mono' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/032c2dd8c9.js" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
</head>
        
<body> 

<!--               BARRE DE NAVIGATION                                      -->
<nav class="navbar" id="nav">
  <div class="navbar__container" >
    <div class="navbar__toggle" id="mobile-menu"> 
      <span class="bar"></span> <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="/journal" class="navbar__links" id="Journal-page">Journal</a>
      </li>
      <li class="navbar__item">
        <a href="/wordle" class="navbar__links" id="Games-page">Word Game</a>
      </li>
      <li class="navbar__item">
        <a href="/" class="navbar__links" id="Books-page">Books</a>
      </li>
      <li class="navbar__item">
        <a href="/about" class="navbar__links" id="random-page">Scrabble?</a>
      </li>
      <li class="navbar__item">
        <a href="/" class="navbar__links" id="Community-page">Community</a>
      </li>
    </ul>
    <a href="https://www.youtube.com/watch?v=iuF6CpML3IQ" id="navbar__head">Words Words Words</a>
  </div>
</nav>

{% block content %}
<!--               SECTION ET CONTAINER                                     -->
  <section>
    <div class="container content">
    {% block container %}
    {% endblock %}
    </div>
  </section>
{% endblock %}

<!-- <div class="tp" id="tp">
  <h1>Games</h1>
  <div class="ihm__wrapper">
    <div class="ihm__card">
      <h2>Title</h2>
      <p>Description...</p>
      <div class="ihm__btn"><button><a href="../IHMWeb/1/IHMWeb1.html">More About</a></button></div>
    </div>
  </div>
</div>
</div> -->


<div class="footer__container">
  <section class="social__media">
    <div class="social__media--wrap">
      <p class="website__rights">© All Rights Reserved, 2023</p>
    </div>
  </section>
</div>
</body>
</html>
