{% extends "template.html" %}

{% block title %} WWW {% endblock %}

{% block container %}

<div class="tp" id="tp">
  <div class="ihm__wrapper">
      <div class="ihm__card">
        <div class="ihm_container">
          <div class="ihm_text">
            <div class="typing-container">
              {% if session['username'] %}
              <h2 id="sentence" class="sentence">Welcome back {{session['username']}} !
              {% endif %}
                <br>
                Today's word of the day is <br> [word]
                <br>
                [définition]</h2>
              <div id="feature-text"></div>
              <span class="input-cursor"></span>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>

{% endblock %}
