{% extends "template.html" %}

{% block title %} WWW {% endblock %}

{% block container %}

<div class="tp" id="tp">
  <div class="ihm__wrapper">
      <div class="ihm__card">
        <div class="ihm_container">
          <div class="ihm_text">
<!-- <<<<<<< HEAD -->
            <div class="typing-container">
              {% if session['username'] %}
              <h2 id="sentence" class="sentence">Welcome back {{session['username']}} !
              {% endif %}
                <br>
                Today's word of the day is <br> [word]
                <br>
                [définition]</h2>
              <div id="feature-text"></div>
              <span class="input-cursor"></span>
            </div>
<!-- ======= -->
            <h2 id="line"></h2>
            <h2 id="linet"></h2>
            <h2 id="line3"></h2>
            <h2 id="line4"></h2>
            <div class="input-cursor"></div>
<!-- >>>>>>> f5c7cc312d17a07ac22a4fc65d34b85a58f4cfc2 -->
          </div>
        </div>

      </div>
  </div>
</div>

{% endblock %}